@{
    ViewData["Title"] = "Home Page";
}

<div class="sheetSlider sh--default">
    <input id="s1" type="radio" name="slide1" checked />
    <input id="s2" type="radio" name="slide1" />
    <input id="s3" type="radio" name="slide1" />
    <input id="s4" type="radio" name="slide1" />
    <input id="s5" type="radio" name="slide1" />
    <input id="s6" type="radio" name="slide1" />
    <input id="s7" type="radio" name="slide1" />
    <input id="s8" type="radio" name="slide1" />
    <input id="s9" type="radio" name="slide1" />
    <input id="s10" type="radio" name="slide1" />
    <div class="sh__content">
        <div class="sh__item">
            <img src="~/Images/UWP.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>UWP</h4>
                <span>
                    Curso de app para la plataforma universal
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/Images/Xamarin.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>Xamarin</h4>
                <span>
                    Curso de app para la plataforma universal
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/Images/Systema-portada-core.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>Asp net core</h4>
                <span>
                    Curso de app para la plataforma universal
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/Images/Systema5.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>Java</h4>
                <span>
                    Curso de app para la plataforma universal
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/Images/Android-kotlin1.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>Android</h4>
                <span>
                    Curso de app para la plataforma universal
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/Images/Systema1.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>SQL</h4>
                <span>
                    Curso de app para la plataforma universal
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/Images/Systema4.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>PHP</h4>
                <span>
                    Curso de app para la plataforma universal
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/Images/Android3.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>ANDROID JAVA</h4>
                <span>
                    Curso de app para la plataforma universal
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/Images/Systema-portadaASP-NET-Core.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>ASP</h4>
                <span>
                    Curso de app para la plataforma universal
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
        <!--slider item-->
        <div class="sh__item">
            <img src="~/Images/System3.png" alt="imgText" class="imgSlider" />
            <!--Item info-->
            <div class="sh__meta">
                <h4>JAVA</h4>
                <span>
                    Curso de app para la plataforma universal
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
    </div>
    <!--botones-->
    <div class="sh__btns">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
        <label for="s7"></label>
        <label for="s8"></label>
        <label for="s9"></label>
        <label for="s10"></label>
    </div>
    <!--flechas-->
    <div class="sh__arrows">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
        <label for="s7"></label>
        <label for="s8"></label>
        <label for="s9"></label>
        <label for="s10"></label>
    </div>
</div>