<center><h1 class="font-weight-light">CONTACTO</h1></center>

&nbsp;
&nbsp;
&nbsp;
            <div class="container">
                <div class="row">
                    <a href="https://api.whatsapp.com/send?phone=573174722738&text=&source=&data=&app_absent=">
                    <div class="form-group">
                    <button class="btn btn-success btn-md"><i class="fa fa-whatsapp"></i></button>
                    </div>
                    </a>
&nbsp;
                    <a href="https://www.facebook.com/xelaq/">
                    <div class="form-group">
                    <button class="btn btn-primary btn-md"><i class="fa fa-facebook"></i></button>
                    </div>
                    </a>    
&nbsp;
                    <a href="https://www.facebook.com/groups/1744232429167360/">
                    <div class="form-group">
                    <button class="btn btn-secondary btn-md"><i class="fa fa-facebook"></i></button>
                    </div>
                    </a>  
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col-sm-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.62906892225!2d-75.57275808483992!3d6.312362727332124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442f1f102beeb9%3A0x267e59a904b0f98b!2sCl.%2022a%20%2360-74%2C%20Bello%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1591483697395!5m2!1ses-419!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                    </iframe>
                  </div>
                  <div class="col-sm-4">
                      <p class="font-weight-light">
                        <p class="font-weight-light">ASESORIAS EN SISTEMAS ALEXCOM</p>
                        <i class="fa fa-location-arrow"></i>
                        Calle 22A # 60-74
                        <br>
                        Piso 1, Preguntar por el técnico Alexander
                        <br>
                        bello, Antioquia, Colombia
                        <br>
                        <i class="fa fa-phone"></i>
                        +57 3174722738
                        <br>
                        <i class="fa fa-envelope-o"></i>
                        <a href="mailto:xela870@gmail.com">Correo</a>
                        <br>
                        <br>
                        <p class="font-weight-light">HORARIOS DE SERVICIO</p>
                        <i class="fa fa-calendar"></i><strong>Lunes a viernes:</strong> 10:00 am - 12:00 m y 2:00 pm - 8:00 pm
                        <br>
                        <br>
                        <i class="fa fa-calendar"></i><strong>Sábados:</strong> 10:00 am - 2:00 pm
                      </p>
                  </div>
                </div>
              </div>

