@model Project_technician.Models.Contacto


@{
    ViewData["Title"] = "Tienda - ";
}

@{ Layout = "_Layout"; }


<center><h1 class="font-weight-light">TIENDA</h1></center>

&nbsp;
&nbsp;
&nbsp;


<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <p>Novedad del dia</p>
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="..\images\persona.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <center><h4 class="card-title">Teclado Mecanico</h4></center>
                        <center>
                            <button type="button" class="btn btn-primary mt-5" data-toggle="collapse" data-target="#demo">Leer mas</button>
                            <div id="demo" class="collapse">
                                <br>
                                Las teclas mecánicas son aquellas que tienen un interruptor de pulsado individual, desechando las placas de "gomillas" que suelen venir en los teclados convencionales. De este modo obtenemos una mejor respuesta táctil hacia nuestros dedos y una mayor durabilidad. A cambio, el precio a pagar es más alto.
                                Esto es lo básico, y sólo la punta del iceberg: hay un mundo de tipos de interruptores de tecla, cada uno con sus particularidades, y es lo que más hace dudar a los usuarios. Los más populares son los llamados Cherry, clasificados en los MX Blue, MX Brown, MX Red, MX Black o transparentes. Cada uno de estos tipos de interruptores responde de forma diferente al tacto de nuestros dedos y emite un sonido diferente. No es, en ningún caso, "volver a los teclados de antes y punto" que creen muchos.
                            </div>
                        </center>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <p>Escribenos que estas buscando</p>
                <div class="form-group">
                    <input asp-for="Name" autocomplete="off" class="form-control rounded" placeholder="Nombre" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Mail" autocomplete="off" class="form-control rounded" placeholder="Correo" />
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Phone" autocomplete="off" class="form-control rounded" placeholder="Telefono Celular o fijo" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <textarea asp-for="Mensaje" class="form-control" rows="9" placeholder="Mensaje" aria-label="With textarea"></textarea>
                    <span asp-validation-for="Mensaje" class="text-danger"></span>
                </div>
                <span class="badge badge-success">@TempData["msg"]</span>
                <br>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="form-group">
                            <input type="submit" value="ENVIAR" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
